@import url("https://fonts.googleapis.com/css?family=Poppins");

body {
  margin: 0;
  font-family: "Poppins";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

@media only screen and (max-device-width: 780px) {
  .body {
    font-size: 12px !important;
  }
}

p {
  margin: 0;
}
